@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #43d5cb, #a9e8f1);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

/* Títulos */
h1 {
    color: #435ba1;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

/* Seção: Informações Médicas */
.informa-medica {
    background-color: #eafafc;
    padding: 20px 30px 25px 30px;
    border-radius: 5px;
    font-weight: 600;
    max-width: 900px;
    width: calc(100% - 30px);
    text-align: left;
    margin: 0 15px;
}

.informa-medica label {
    color: #17a7b8;
}

/* Estilos para Divs com preços e informações */
.div-800 {
    background-color: #757474;
    padding: 20px;
    margin: 15px;
}

/* Estilos para Opções de Exame */
.div-radio-800,
.div-radio-700 {
    background-color: #75747494;
    padding: 10px;
    border: 1px solid #3ec7be;
    margin: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.div-radio-800:hover,
.div-radio-700:hover {
    background-color: #3ec7be;
}

.div-radio-800.selected,
.div-radio-700.selected {
    background-color: #1dd0e7;
}

/* Seção: Tipos de Exame */
.tipos-exame {
    background-color: #879bdd;
    padding: 20px;
    margin: 0 15px 40px 15px;
    font-weight: 600;
    max-width: 700px;
    width: calc(100% - 30px);
    color: #ffffff;
    text-align: center;
}

.tipos-exame h2 {
    color: #ffffff;
}

/* Seção: Cupom de Desconto */
.secao-descontos {
    background-color: #eafafc;
    padding: 20px 30px 100px 30px;
    border-radius: 5px;
    font-weight: 600;
    max-width: 900px;
    width: calc(100% - 30px);
    text-align: left;
    margin: 0 15px;
}

.link {
    
    color: blue;
    
    cursor: pointer;
}


/* Seção: Informação de Preços */
.price-info {
   background-color: #eafafc;
    padding: 20px 30px 100px 30px;
    border-radius: 5px;
    font-weight: 600;
    max-width: 900px;
    width: calc(100% - 30px);
    text-align: left;
    margin: 0 15px;
    
    
}

.price-info h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.price-info h3 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.price-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 1rem;
    align-items: center; /* Garante que os elementos fiquem alinhados verticalmente */
    width: 100%;
}

.price-item span {
    flex: 1; /* Garante que a parte esquerda ocupe o espaço corretamente */
    text-align: left; /* Alinha o texto à esquerda */
}

.price-item strong {
    flex: 1; /* Garante que a parte direita ocupe o espaço corretamente */
    text-align: right; /* Alinha o texto à direita */
    font-size: 1.2rem;
    color: #333;
}


.price-item.total {
    font-size: 1.3rem;
    font-weight: 700;
    color: #1dd0e7;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.finalizar-pedido-btn {
    display: block;
    width: 100%;
    background-color: #1dd0e7;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-align: center;
}

.finalizar-pedido-btn:hover {
    background-color: #17a7b8;
}


/* Formulário */
form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: calc(100% - 30px);
    border: 2px solid #1dd0e7;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

/* Labels e Inputs */
label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #1dd0e7;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1dd0e7;
    border-radius: 5px;
    font-size: 1rem;
}

/* Botões Gerais */
button {
    width: 100%;
    background-color: #1dd0e7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #17a7b8;
}

.form-group {
    margin-bottom: 20px;
}

/* Seção: Termos e Condições */
.terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.terms input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

/* Grupo de Rádio */
.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ffffff;
}

.radio-group label {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2);
}

/* Modais */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 35px;
    border: 2px solid #1dd0e7;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-header {
    font-weight: bold;
    font-size: 1.5rem;
    color: #1dd0e7;
}

.modal-body p {
    margin: 10px 0;
}

.modal-close {
    background-color: #1dd0e7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.modal-close:hover {
    background-color: #17a7b8;
}

/* Linha de Formulário */
.form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-row .form-group {
    width: 48%;
}

/* Loader */
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

.loader-valida {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Subtítulos */
.subtitulos {
    color: #435ba1;
}

/* Ajustes Responsivos */
@media (max-width: 768px) {

    h1 {
        font-size: 1.8rem;
    }

    .informa-medica,
    .price-info,
    .tipos-exame,
    .secao-descontos,
    .div-radio-800,
    .div-radio-700,
    form {
        padding: 20px;
        margin: 0 15px;
        max-width: 100%;
        width: calc(100% - 30px);
    }

    .form-row {
        flex-direction: column;
    }

    .form-row .form-group {
        width: 100%;
    }

    .radio-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .radio-group label {
        margin-bottom: 10px;
    }

    .modal-content {
        width: 90%;
        margin-top: 30%;
        padding: 20px;
    }

    button {
        padding: 10px;
        font-size: 0.9rem;
    }

    .modal-header {
        font-size: 1.2rem;
    }

    .terms {
        flex-direction: column;
        align-items: flex-start;
    }

    .terms input[type="checkbox"] {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 1.5rem;
    }

    .informa-medica,
    .price-info,
    .tipos-exame,
    .secao-descontos,
    .div-radio-800,
    .div-radio-700,

    form {
        padding: 15px;
        margin: 0 10px;
        width: calc(100% - 20px);
    }

    button {
        padding: 8px;
        font-size: 0.8rem;
    }

    .modal-content {
        width: 95%;
        margin-top: 40%;
        padding: 15px;
    }

    img {
        margin: 20px 15px 10px 15px;
        width: 200px;
        position: relative;
    }
}

